/venv/
/.idea/.gitignore
/__init__.py
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/pyrat.iml
/.idea/vcs.xml
/.idea/
mamba_req.sh
*.csv
__pycache__/
/WIP/
/tests/deeprobust/
/quickzonoreach/
*.tar.gz
/data/datasets/CUB-200
/data/datasets/MNIST
/data/datasets/CIFAR10
/data/datasets/cifar10
/benchmarks/vnncomp2022_benchmarks/
/pyrat_uc/

toy.py
*.sh
exp_res/
tests/configs/temp_res


# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VSCode
.vscode/
*.pyc
*.sh
exp_res/
*.html
*.ini
*.json
*.zip
/benchmarks/parsed/

# Sasha
/bin
/mul_zono.py
lib64
pyenv.cfg
venv11/pyvenv.cfg
venv11/bin/activate
venv11/bin/activate.csh
venv11/bin/activate.fish
venv11/bin/Activate.ps1
venv11/bin/backend-test-tools
venv11/bin/check-model
venv11/bin/check-node
venv11/bin/coloredlogs
venv11/bin/f2py
venv11/bin/fonttools
venv11/bin/humanfriendly
venv11/bin/hypothesis
venv11/bin/import_pb_to_tensorboard
venv11/bin/ipython
venv11/bin/ipython3
venv11/bin/isympy
venv11/bin/markdown_py
venv11/bin/markdown-it
venv11/bin/normalizer
venv11/bin/onnxruntime_test
venv11/bin/onnxsim
venv11/bin/pip
venv11/bin/pip3
venv11/bin/pip3.12
venv11/bin/proton
venv11/bin/proton-viewer
venv11/bin/py.test
venv11/bin/pyftmerge
venv11/bin/pyftsubset
venv11/bin/pygmentize
venv11/bin/pytest
venv11/bin/python
venv11/bin/python3
venv11/bin/python3.12
venv11/bin/saved_model_cli
venv11/bin/tensorboard
venv11/bin/tf_upgrade_v2
venv11/bin/tflite_convert
venv11/bin/toco
venv11/bin/torchfrtrace
venv11/bin/torchrun
venv11/bin/tqdm
venv11/bin/ttx
venv11/bin/wheel
venv11/share/man/man1/ipython.1
venv11/share/man/man1/isympy.1
venv11/share/man/man1/ttx.1
venvrnmt/pyvenv.cfg
venvrnmt/bin/activate
venvrnmt/bin/activate.csh
venvrnmt/bin/activate.fish
venvrnmt/bin/Activate.ps1
venvrnmt/bin/backend-test-tools
venvrnmt/bin/black
venvrnmt/bin/blackd
venvrnmt/bin/ccmake
venvrnmt/bin/check-model
venvrnmt/bin/check-node
venvrnmt/bin/cmake
venvrnmt/bin/coloredlogs
venvrnmt/bin/cpack
venvrnmt/bin/ctest
venvrnmt/bin/f2py
venvrnmt/bin/fonttools
venvrnmt/bin/humanfriendly
venvrnmt/bin/ipython
venvrnmt/bin/ipython3
venvrnmt/bin/isympy
venvrnmt/bin/onnxruntime_test
venvrnmt/bin/onnxslim
venvrnmt/bin/pip
venvrnmt/bin/pip3
venvrnmt/bin/pip3.12
venvrnmt/bin/proton
venvrnmt/bin/proton-viewer
venvrnmt/bin/pyftmerge
venvrnmt/bin/pyftsubset
venvrnmt/bin/pygmentize
venvrnmt/bin/python
venvrnmt/bin/python3
venvrnmt/bin/python3.12
venvrnmt/bin/torchfrtrace
venvrnmt/bin/torchrun
venvrnmt/bin/tqdm
venvrnmt/bin/ttx
venvrnmt/share/man/man1/ipython.1
venvrnmt/share/man/man1/isympy.1
venvrnmt/share/man/man1/ttx.1
sandbox.py
sandbox.py
sandbox.py
sandbox_bis.py
venv11/bin/black
venv11/bin/blackd
