onnx
tensorflow>=2.7
pyparsing
psutil
tqdm
onnxruntime
scipy
matplotlib
torch>=2.2
networkx
pytest
pyvis
gitpython
loguru
pillow
numpy>=1.22.3
configargparse
foolbox~=3.3.3
onnx2torch~=1.4.1
protobuf==3.20.*
cvxpy[CLARABEL]>=1.2.0
cvxpy[CBC]>=1.2.0
onnxsim
trace-events